<div class="row">
  <div class="col-md-12">
    <div class="box">
      <div class="box-header">
        <h4>Certificate Settings</h4>
        <form name="userForm" ng-submit="submitForm()" role="form">
          <div class="box-body">
            <div class="form-group">
              <label class="control-label">Certificate Lifetime (Days) :</label>
              <input type="number" class="form-control" min="1" max="9999" step="1" required ng-model="data.certificateLifespan" />
            </div>
            <div class="form-group">
              <label class="control-label">Alternative Hostnames :</label>
              <input type="text" class="form-control" ng-model="data.dns"></textarea>
              <span class="help-block"> These are any alternative DNS names used by the clients to connect to the server. Enter a list of hostnames seperated by a , (comma) The server Service will need to be restarted for this to take effect</span>
            </div>
          </div>
          <div class="box-footer pull-right">
            <button type="submit" name="go" class="btn btn-success">Save</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

