<div class="row">
  <div class="col-md-12">
    <div class="box">
      <div class="box-header with-border">
        <form name="userForm" ng-submit="submitForm()" role="form">
          <div class="box-body">
            <div class="form-group">
              <div class="checkbox">
                <label class="control-label">
                  <input type="checkbox" name="radios" ng-model="useProxy" />
                  <b>Use Proxy</b>
                </label>
              </div>
            </div>
            <div class="form-group">
              <label class="control-label">Hostname/IP :</label>
              <input type="text" class="form-control" ng-disabled="!useProxy" required ng-model="data.hostname" />
            </div>
            <div class="form-group">
              <label class="control-label">Port :</label>
              <input type="number" class="form-control" ng-disabled="!useProxy" min="1" max="65535" step="1" required ng-model="data.port" />
            </div>
            <br />
            <div class="form-group">
              <div class="checkbox">
                <label class="control-label">
                  <input type="checkbox" name="radios" ng-disabled="!useProxy" ng-model="data.authRequired" />
                  <b>Proxy Requires Authentication</b>
                </label>
              </div>
            </div>
            <div class="form-group">
              <label class="control-label">Username :</label>
              <input type="text" class="form-control" ng-model="data.username" ng-disabled="!data.authRequired" ng-required="data.authRequired" />
            </div>
            <div class="form-group">
              <label class="control-label">Password :</label>
              <div ng-if="data.hasPassword">
                <input type="password" class="form-control" ng-disabled="!data.authRequired || !useProxy" ng-required="needspass" ng-model="data.password" placeholder="{{ passwordplaceholder }}" />
              </div>
              <div ng-if="!data.hasPassword">
                <input type="password" class="form-control" ng-disabled="!data.authRequired || !useProxy" ng-required="needspass" ng-model="data.password" />
              </div>
            </div>
          </div>
          <div class="box-footer pull-right">
            <button type="submit" name="go" class="btn btn-success">Save</button>
          </div>
        </form>
        
      </div>
    </div>
  </div>
</div>

