<div class="row">
  <div class="col-md-12">
    <div class="box">
      <div class="box-header with-border">
        <form name="bert" ng-submit="fetchEndpoint()" method="post">
          <div class="input-group">
            <label class="control-label">Endpoint :</label>
              <input type="input" class="form-control" required ng-model="data.endpoint" />
              <span class="input-group-btn">
                <button type="submit" name="get" class="btn btn-success" style="margin-top:25px;">Get</button>
              </span>
          </div>
        </form>
        <form role="form">
          <div class="form-group" ng-show="error">
            <label class="control-label">Error :</label>
            <textarea class="form-control" ng-model="error" rows="4" disabled="disabled" style="color:red"></textarea>
          </div>
        </form>
        <ul style="margin-top:10px;">
          <li style="cursor:pointer; text-decoration:underline" ng-show="list" ng-click="getrootendpoint(data.endpoint); fetchEndpoint()">../</li>
          <li style="cursor:pointer; text-decoration:underline" ng-repeat="uuid in list" ng-click="data.endpoint = data.endpoint+'/'+uuid; fetchEndpoint()">{{ uuid }}</li>
          <li style="cursor:pointer; text-decoration:underline" ng-repeat="extra in extras" ng-click="data.endpoint = data.endpoint+'/'+uuid+''+extra; fetchEndpoint()">{{ extra }}</li>
        </ul>
        <form name="bob" ng-submit="sendJson()">
          <div class="form-group">
            <label class="control-label">ETag : </label><span ng-bind="etag"></span><br />
            <label class="control-label">Json :</label>
            <textarea class="form-control" required ng-model="data.json" rows="25"></textarea>
          </div>
            <span ng-confirm-click="Are you sure you want to delete?" confirmed-click="deleteEndpoint()" class="btn btn-danger">Delete</span>
          <div class="form-actions" style="border-top: 1px solid #e5e5e5; float:right;">
            <button type="submit" name="send" class="btn btn-success">Put</button>
          </div>
          <div style="clear:both;"></div>
        </form>
      </div>
    </div>
  </div>
</div>
