<div class="row">
  <div class="col-md-12">
    <div class="box">
      <div class="box-header with-border">
        <div ng-show="showOptions">
          <div class="row">
            <div class="col-md-12">
              <h4>Select Sync Type</h4>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4 text-center">
              <p>Synchronise AD users for access to the console</p>
              <a ng-click="consoleSync()" class="btn btn-large btn-success">Synchronise Console Users</a>
            </div>
            <div class="col-md-4 text-center">
              <p>Synchronise device users (client users)</p>
              <a ng-click="clientSync()" class="btn btn-large btn-success">Synchronise Device Users</a>
            </div>
            <div class="col-md-4 text-center">
              <p>Synchronise devices from AD</p>
              <a ng-click="deviceSync()" class="btn btn-large btn-success">Synchronise Devices</a>
            </div>
          </div>
        </div>
        <div ng-show="showGroupSelect">
          <div class="control-group">
            <label class="control-label">Group:</label>
            <select class="form-control" name="group" required ng-model="selectedGroup">
              <option value="">-- Select Group --</option>
              <option ng-repeat="group in groups" value="{{ group.id }}">{{ group.name }}</option>
            </select>
          </div>
          <br />
          <div class="form-actions text-right">
            <button name="next" class="btn btn-success" ng-click="createSync()">Next</button>
          </div>
        </div>
        <div ng-show="showSyncData">
        <form name="Form" ng-submit="submitForm()" class="form-horizontal">
          <div class="col-md-6">
            <div ng-show="group.data.meta.name" class="control-group">
              <label class="control-label">Group :</label>
              <input type="text" class="form-control" disabled="disabled" value="{{ group.data.meta.name }}" />
            </div>
            <div class="control-group">
              <label class="control-label">Sync Name :</label>
              <input type="text" class="form-control" required ng-model="sync.name" />
            </div>
            <div class="control-group">
              <label class="control-label">Domain :</label>
              <input type="text" class="form-control" required ng-model="sync.domain" />
            </div>
            <div class="control-group">
              <label class="control-label">Distinguished Name :</label>
              <input type="text" class="form-control" required ng-model="sync.distinguishedName" placeholder="OU=IT Department,OU=Teachers,DC=example,DC=com" />
            </div>
            <div class="control-group">
              <label class="control-label">Check Every :</label>
              <input type="number" class="form-control" min="0" step="1" required ng-model="sync.frequency" />
              <span class="help-block">0 to disable (can still be run manually)</span>
            </div>
            <div class="control-group">
              <label class="control-label">Update Type :</label>
              <select class="form-control" name="update" ng-model="sync.update" required>
                <option value="true">Update and Create (Update existing items as well as creating new)</option>
                <option value="false">Create Only (Create new items only)</option>
              </select>
            </div>
            <div class="control-group">
              <label class="control-label">Group:</label>
              <select class="form-control" name="group" required ng-model="selectedGroup">
                <option value="">-- Select Group --</option>
                <option ng-repeat="group in groups" value="{{ group.id }}">{{ group.name }}</option>
              </select>
            </div>
            string match
          </div>
          <div class="col-md-6">
            <div class="control-group" ng-show="hasRoles">
              <div class="form-group">
                <label class="control-label">User Types :</label>
                <div class="radio" ng-repeat="role in userTypes | orderBy:'name'">
                  <label>
                    <input type="checkbox" checklist-model="user.roles" checklist-value="role.id">
                    {{ role.name }}<br /><div style="margin-left:20px;"><i>{{ role.description }}</i></div>
                  </label>
                </div>
              </div>
              <div ng-repeat="type in userTypes" ng-show="showTypes[type.id].show && type.children.length">
                <br />
                <strong>{{ type.name }} Roles :</strong>
                <div class="form-group">
                  <div class="radio" ng-repeat="role in roles[type.id]">
                  <label>
                    <input type="checkbox" checklist-model="user.roles" checklist-value="role.id">
                    {{ role.name }}<br /><div style="margin-left:20px;"><i>{{ role.description }}</i></div>
                  </label>
                </div>
              </div>
            </div>
          
          </div> 
          <div style="clear:both;"></div>
          <div class="form-actions" style="padding:20px; text-align:right;">
            <button type="submit" name="go" class="btn btn-success">Create</button>
          </div>
        </form>
        </div>
      </div>
    </div>
  </div>
</div>
