<div class="row">
  <div class="col-md-12">
    <div class="box">
      <div class="box-header with-border">
      <div ng-show="showWaiting">
        <div style="margin-top:20px; font-size:15px;">
          Please wait while we check your connection to the AB Tutor website... This could take upto 30 seconds.
        </div>
      </div>
      <div ng-show="showvalidationType">
        <div ng-show="!isOnline" style="color:red;">
          No connection to the AB Tutor website could be established. Only some activation options will be available.
        </div>
        <div style="margin-top:20px; font-size:15px;">
          Please choose if you would like to create a 30 day trial or activate a full licence.
        </div>
        <div class="row" style="margin-top:20px;">
          <div class="col-md-4">
          </div>
          <div class="col-md-2">
            <button ng-show="isOnline" class="btn btn-success" ng-click="useTrial()">Create a 30 day trial</button>
            <button ng-show="!isOnline" class="btn btn-success" ng-click="useUnlock('Trial')">Create a 30 day trial</button>
          </div>
          <div class="col-md-2">
            <button class="btn btn-success" ng-click="setPickMethod()">Activate a full licence</button>
          </div>
          <div class="col-md-4">
          </div>
        </div>
        <div style="clear:both;"></div>
      </div>
      <div ng-show="showTrial">
        <form ng-submit="activateTrial()">
          <div class="form-group">
            <label class="control-label">Username :</label>
            <input type="email" class="form-control" ng-model="data.email" placeholder="This is your ABTutor.com login username" ng-required="{{requireLogin}}" />
          </div>
          <div class="form-group">
            <label class="control-label">Password :</label>
            <input type="password" class="form-control" ng-model="data.password" placeholder="This is your ABTutor.com password" ng-required="{{requireLogin}}" />
          </div>
          <span style="color:red" ng-bind="lmserror"></span>
          <div style="float:right; margin-top:10px;">
            <input type="submit" class="btn btn-success" value="Activate Trial" /> 
          </div>
          <div style="clear:both;"></div>
          <br />
        </form>
      </div>
      <div ng-show="showContactSupport">
        <div class="panel panel-danger">
          <div class="panel-heading">
            Advanced Support
          </div>
          <div class="panel-body">
            <p style="color:red">This option should only be used at the direction of our support team.</p>
            <p style="color:red">Have you contacted AB Support?</p>
            <input ng-click="useKey()" class="pull-left btn btn-success btn-activate" value="No" /> 
            <input ng-click="useUnlock()" class="pull-right btn btn-danger btn-activate" value="Yes" /> 
          </div>
        </div>
      </div>
      <div ng-show="showUnlock">
        <div style="margin-top:20px; font-size:15px">
          <form role="form">
            <p ng-show="!isTrial">Please copy the code in the top box and paste it into the reply to your existing support ticket</p>
            <p ng-show="isTrial">As we were unable to connect to the AB Tutor website you will need to complete activation manually.</p>
            <p ng-show="isTrial">Copy/Paste the entire code below into the 'Support &gt; Trial Unlock Code' section in your account on the AB Tutor website.</p>
            <div class="form-group">
              <textarea rows="8" class="form-control" ng-bind="unlockCode" ></textarea>
            </div>
            <p ng-show="isTrial">Paste the generated activation code here then press the Activate button:</p>
            <p ng-show="!isTrial">Paste the activation code given by support into this box and press the Activate button</p>
            <div class="form-group">
              <textarea rows="8" class="form-control" ng-model="data.unlockCode"></textarea>
            </div>
            <div class="form-group pull-right">
             <input ng-disabled="!data.unlockCode" ng-click="activateUnlock()" type="submit" class="btn btn-success" value="Activate" /> 
            </div>
          </form>
        </div>
      </div>
      <div ng-show="showPickMethod">
        <div class="row" style="margin-top:20px;">
          <div class="col-md-4">
          </div>
          <div class="col-md-2">
            <button class="btn btn-success" ng-disabled="!isOnline" title="{{ isOnline ? 'Use your abtutor.com username and password' : 'This option is unavailable as we are unable to contact abtutor.com'}}" ng-click="useLogin()">Use ABTutor.com Login</button>
          </div>
          <div class="col-md-2">
            <button class="btn btn-success" ng-click="useKey()">I have a licence key</button>
          </div>
          <div class="col-md-4">
          </div>
        </div>
      </div>
      <div ng-show="showKey">
        <form role="form">
          <div style="margin-top:10px; margin-bottom:10px;font-size:15px;">
            Please enter a unique friendly name<span ng-hide="data.owner"> and your licence key</span>.
          </div>
          <div class="form-group">
            <label class="control-label">Friendly Name:</label>
            <input type="text" class="form-control" name="" ng-model="data.friendlyName" ng-required="{{requirefriendlyName}}" />
          </div>
          <div class="form-group" ng-show="data.owner">
            <label class="control-label">Registered To :</label>
            <input type="text" class="form-control" ng-model="data.owner" disabled="disabled"/>
          </div>
          <div class="form-group">
            <label class="control-label">Licence Key :</label>
            <input type="text" class="form-control" ng-model="data.key" ng-disabled="data.owner" />
          </div>
          <a class="pull-left" ng-hide="!data.friendlyName || !data.key" ng-click="setNoConnection()" style="cursor:pointer" ng-hide="showUnlockOption">Advanced Support</a>
          <input ng-click="putKey()" ng-disabled="!data.friendlyName || !data.key" class="pull-right btn btn-success btn-activate" value="Activate" /> 
          <div style="clear:both;"></div>
        </form>
      </div>
      <div ng-show="showLogin">
        <form role="form" ng-submit="getAccounts()">
          <div class="form-group">
            <label class="control-label">Username :</label>
            <input type="email" class="form-control" ng-model="data.email" placeholder="This is your ABTutor.com login username" ng-required="{{requireLogin}}" />
          </div>
          <div class="form-group">
            <label class="control-label">Password :</label>
            <input type="password" class="form-control" ng-model="data.password" placeholder="This is your ABTutor.com password" ng-required="{{requireLogin}}" />
          </div>
          <span style="color:red" ng-bind="lmserror"></span>
          <div style="float:right; margin-top:10px;" ng-show="accountLookup">
            <input type="submit" class="btn btn-success" ng-submit="getAccounts()" value="Lookup Account(s)" /> 
          </div>
          <div style="clear:both;"></div>
          <br />
          <table ng-show="multipleAccounts" class="table table-bordered">
            <tr>
              <th>Account Name</th>
              <th>Licence Key</th>
              <th style="width:70px;"></th>
            </tr>
            <tr ng-repeat="account in accounts">
              <td>{{ account.Acc }}</td>
              <td>{{ account.Serial }}</td>
              <td style=" padding:3px;text-align:center;"><button ng-click="useKey(account.Serial, account.Acc)" class="btn btn-success btn-sm">Use Key</button></td>
            </tr>
          </table>
          <div style="clear:both;"></div>
        </form>
      </div>
      <div ng-show="showResult">
        <p>Please wait while we activate your software...</p>
        <p ng-bind="goodResult" style="color:green"></p>
        <span ng-show="goodResult">This server is registered to: <span ng-bind="result.owner"></span><br /></span>
        <span ng-show="goodResult">You have <span ng-bind="result.limit"></span> concurrent licences</span>
        <p ng-bind="badResult" style="color:red"></p>
        
        <button ng-show="badResult" class="btn btn-success pull-right" ng-click="waiting()" style="margin-top:10px;">Restart Licensing</button>
            
      </div>
    </div>
  </div>
</div>


<!--      <div class="control-group">
        <label class="control-label">Friendly Name:</label>
        <div class="controls">
          <input type="text" class="span11" required ng-model="data.friendlyname" />
        </div>
      </div>
        <div class="control-group">
          <label class="control-label">Username :</label>
          <div class="controls">
            <input type="email" class="span12" required ng-model="data.email" placeholder="This is your ABTutor.com login username" />
          </div>
        </div>
        <div class="control-group">
          <label class="control-label">Password :</label>
          <div class="controls">
            <input type="password" class="span12" required ng-model="data.password" placeholder="This is your ABTutor.com password" />
          </div>
        </div>
        <div style="padding-left:50px;padding-top:20px;">
          <span style="font-weight:bold; font-size:17px;">Or</span>
        </div>
        <div class="control-group">
          <label class="control-label">License Key :</label>
          <div class="controls">
            <input type="text" class="span12 mask" required ng-model="data.key" />
          </div>
        </div>
      </div>
        <div class="form-actions" style="border-top: 1px solid #e5e5e5;">
          <button type="submit" name="go" class="btn btn-success">Save</button>
        </div>
      </div>
    </form>
  </div>
</div>-->
